# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe.recipe
*.out
*.app
*.pdb
*.idb
*.ilk

# Logfiles
*.log
*.tlog
*.lastbuildstate
Code/.vs/PosControl_sln/v16/Browse.VC.opendb

*.idb
*.ilk
*.pdb
*.log
*.tlog
*.recipe

*.nativecodeanalysis.sarif
*.nativecodeanalysis.xml
*.nativecodeanalysis.all.xml

Code/.idea/
